<!DOCTYPE html>
<html xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:align="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>쇼핑몰</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/theme.css" type="text/css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
  .well {
   height: 100px;
   width: 100%;
   color: black;
   background-color: #e9ecef;
   padding: 30px 0px 30px 10px;
 }
 <!--
 .btn {
  font-size:0.8rem;
}
  #new_page {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
#new_page > li {
  display: inline;
}
#new_page > li > a,
#new_page > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
#new_page > li:first-child > a,
#new_page > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#new_page > li:last-child > a,
#new_page > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#new_page > li > a:hover,
#new_page > li > span:hover,
#new_page > li > a:focus,
#new_page > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
#new_page > .active > a,
#new_page > .active > span,
#new_page > .active > a:hover,
#new_page > .active > span:hover,
#new_page > .active > a:focus,
#new_page > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
#new_page > .disabled > span,
#new_page > .disabled > span:hover,
#new_page > .disabled > span:focus,
#new_page > .disabled > a,
#new_page > .disabled > a:hover,
#new_page > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
!-->
</style>
</head>
<body class="Head_nav">
  <td><!--상단 메뉴 인클루드--><% include ./top.ejs %></td>
  <div class="row">

    <td><!--사이드 메뉴 인클루드--><% include ./adminside.ejs %></td>
    <div class="col-9">
      <div class="jumbotron">
        <h1>Admin Page</h1>
        <p>회원정보관리</p>      
      </div> 
      <div class="well"><h2>회원목록</h2></div>
      <div class="col-9 container" style="margin: 20px 0px 20px 200px;">       
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>이메일(email)</th>
              <th>이름</th>
              <th>주소</th>
              <th>전화번호</th>
              <th>가입일</th>
              <th>구분</th>
            </tr>
            <% for(var i=0; i < articles.contents.length; i++){ var rows=articles.contents[i]; %>
            <tr>
              <td class="font-weight-bold"><%=rows.email%></td>
              <td><%=rows.username%></td>
              <td><%=rows.address%></td>
              <td><%=rows.phone%></td>
              <td><%=rows.date%></td>
              <td><% if(rows.admin==1){ %>판매자<%}else if(rows.sale==1){%>관리자<%}else{%>일반회원<%}%></td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
      <div class="text-center">

        <ul class="pagination" id="new_page">
          <%if(articles.Start===1){%>
          <li class="disabled"><a href="#"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
          <%}else{%>
          <li><a href="/admin/userinfo?page=<%=articles.Current-articles.ListCount%>"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
          <%}
          for(var i=articles.Start;i<=articles.End;i++)
          {
           %>
           <li <%if(i===articles.Current){%>class="active"<%}%>><a href="/admin/userinfo?page=<%=i%>"><%=i%></a></li>

           <%
         }
         if(articles.End===articles.Total){
         %>
         <li class="disabled"><a href="#"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
         <%}else{%>
         <li><a href="/admin/userinfo?page=<%=articles.Current+articles.ListCount%>"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
         <%}%>
       </ul>
     </div>
   </div>
 </body>
 </html>