<!DOCTYPE html>
<html>
<style>
.well {
 height: 100px;
 width: 100%;
 color: black;
 background-color: #e9ecef;
 padding: 30px 0px 30px 10px;
}
.container{
  margin: 20px 0px 20px 10px;
}
</style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminPage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href='/theme.css' type="text/css"> 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body class="Head_nav">
  <td><!--상단 메뉴 인클루드--><% include ./top.ejs %></td>
  <div class="row">

    <td><!--상단 메뉴 인클루드--><% include ./adminside.ejs %></td>

    <div class="col-9">
      <div class="jumbotron">
        <h1>Admin Page</h1>
        <p>회원정보관리</p>      
      </div> 
      <div class="well"><h2>회원목록</h2></div>
      <div class="col-9 container" >       
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>이메일(email)</th>
              <th>이름</th>
              <th>주소</th>
              <th>전화번호</th>
              <th>가입일</th>
              <th>구분</th>
            </tr>
            <% for(var i=0; i < rows.length; i++){%>
            <tr>
              <td class="font-weight-bold"><%=rows[i].email%></td>
              <td><%=rows[i].username%></td>
              <td><%=rows[i].address%></td>
              <td><%=rows[i].phone%></td>
              <td><%=rows[i].date%></td>
              <td><% if(rows[i].admin==1){ %>판매자<%}else if(rows[i].sale==1){%>관리자<%}else{%>일반회원<%}%></td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>

</html>